.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
  }
.accordion-aside-container{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

  .main-content{
    display: flex;

    flex-direction: column;
  }