.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;

  }




  .main-content{
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 80%;
    min-height: 100%;

  }
  
  .accordion-aside-container{
    display: flex;
    width: 75%;
}

.main-accordiontree{
  width:100%;
  height: 100%;
  margin-left: 60px;
  margin-right: 60px;
}
@media (max-width: 768px) {
  .main-accordiontree {
    margin-left: 0;
    width: 100%;
  }
  .main-content{
    width: 100%;
  }
  .accordion-aside-container{
   
    width: 50%;
}

}
/* @media (max-width: 468px) {
.main-content{
  display: flex;
  flex-wrap: wrap;
}
} */

/* .secondPart{
  width: 25%;
} */